{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Shortcut Messenger</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
</head>

<body class="leading-normal tracking-normal">
    <div id="nav" class="bg-gray-100 py-3 shadow">
        <div class="text-2xl pl-2">Shortcut Messenger</div>
    </div>

    <div class="flex justify-center">
        <div id="content" class="w-4/5">
            {% block body %}{% endblock %}
        </div>
    </div>

</body>

</html>
